
  <hr />

  <div class="container-fluid text-center">
    Welcome to
    <img src="/img/tomato.png" width=35 height="35" />
    Pomodoro Meter
  </div>

  <hr />

  <div class="container-fluid">
    <div class="text-center">
      <a class="btn btn-primary" style="background-color: #3b5998; color: #f7f7f7;" href="/auth/facebook">Login with Facebook</a>
    </div>
  </div>

